<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjc.system.commen.dao.GenMapper">
	<select id="queryTableList" resultType="map">
		SELECT table_name tableName,COMMENTS tableComment
		FROM USER_TAB_COMMENTS
			where
		<if test="tableName != null and tableName.trim() != ''">
			and table_name like concat('%', #{tableName}, '%')
		</if>
		order by create_time desc
	</select>

	<select id="queryTableInfo" resultType="map">
		select table_name as tableName, COMMENTS as tableComment
		from USER_TAB_COMMENTS
			where  table_name = #{tableName}
	</select>

	<select id="queryTableColumns" resultType="map">
		select a.COLUMN_NAME COLUMNNAME,
			a.DATA_TYPE DATATYPE,
			b.COMMENTS COLUMNCOMMENT,
			to_char(nvl(a.data_scale,0)) DATASCALE,
			to_char(nvl(a.data_precision,0)) DATAPRECISION
			from user_tab_cols a
			LEFT JOIN user_col_comments b on a.column_name=b.column_name and a.table_name=b.table_name
 			where a.table_name = #{tableName} and column_id is not null
	</select>
</mapper>
