<?xml version="1.0" encoding="UTF-8"?>

<!--MANAGE_DATA_POWER-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjc.system.admin.dao.ManageDataPowerMapper">

    <resultMap id="manageDataPowerMap" type="com.yjc.system.admin.entity.ManageDataPower">
        <id property="id" column="ID"/>
        <result property="powerCode" column="POWER_CODE"/>
        <result property="powerName" column="POWER_NAME"/>
        <result property="byModeCode" column="BY_MODE_CODE"/>
        <result property="powerLever" column="POWER_LEVER"/>
        <result property="havaDatapower" column="HAVA_DATAPOWER"/>
    </resultMap>

    <!--manageDataPower简单分页查询-->
    <select id="getManageDataPowerPage" resultMap="manageDataPowerMap">
        SELECT
        ID,
        POWER_CODE,
        POWER_NAME,
        BY_MODE_CODE,
        POWER_LEVER,
        HAVA_DATAPOWER
        FROM MANAGE_DATA_POWER
        <where>
            <if test="manageDataPower.id != null and manageDataPower.id.trim() != ''">
                AND ID = #{manageDataPower.id}
            </if>
            <if test="manageDataPower.powerCode != null and manageDataPower.powerCode.trim() != ''">
                AND POWER_CODE = #{manageDataPower.powerCode}
            </if>
            <if test="manageDataPower.powerName != null and manageDataPower.powerName.trim() != ''">
                AND POWER_NAME = #{manageDataPower.powerName}
            </if>
            <if test="manageDataPower.byModeCode != null and manageDataPower.byModeCode.trim() != ''">
                AND BY_MODE_CODE = #{manageDataPower.byModeCode}
            </if>
            <if test="manageDataPower.powerLever != null and manageDataPower.powerLever.trim() != ''">
                AND POWER_LEVER = #{manageDataPower.powerLever}
            </if>
            <if test="manageDataPower.havaDatapower != null and manageDataPower.havaDatapower.trim() != ''">
                AND HAVA_DATAPOWER = #{manageDataPower.havaDatapower}
            </if>
        </where>
    </select>

    <select id="selectListByModeList" resultMap="manageDataPowerMap">
        select
        ID,
        POWER_CODE,
        POWER_NAME,
        BY_MODE_CODE,
        POWER_LEVER,
        HAVA_DATAPOWER
        FROM MANAGE_DATA_POWER
        where 1=1
        <foreach collection="list" item="modeCode" index="index" close="" separator=",">
            and BY_MODE_CODE=modeCode
        </foreach>
    </select>

    <delete id="deleteByModeCode" parameterType="java.lang.Integer">
        delete from MANAGE_DATA_POWER  WHERE 1=1 AND BY_MODE_CODE = #{modeCode}
    </delete>

</mapper>
